[submodule "dms"]
	path = dms
	url = git@github.com:pagelines/DMS.git
[submodule "sections/icallout"]
	path = sections/icallout
	url = git@github.com:pagelines/icallout.git
[submodule "sections/starbars"]
	path = sections/starbars
	url = git@github.com:pagelines/starbars.git
[submodule "sections/maps"]
	path = sections/maps
	url = git@github.com:pagelines/maps.git
[submodule "sections/quickslider"]
	path = sections/quickslider
	url = git@github.com:pagelines/quickslider.git
[submodule "sections/docker"]
	path = sections/docker
	url = https://github.com/pagelines/docker
[submodule "sections/revslider"]
	path = sections/revslider
	url = git@github.com:pagelines/revslider.git
